@model IEnumerable<archpointMidtermPHR.Models.HospitalAdmitCard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmergencyContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyHolderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyHolderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HospitalAdmitId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HospitalAdmitId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HospitalAdmitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
