@model archpointMidtermPHR.Models.AllergyHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllergyHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DrugAllergen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DrugAllergen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAllergen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAllergen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsectStingBites)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsectStingBites)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirborneInhaledAllergen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirborneInhaledAllergen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfReaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfReaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Severity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Symptoms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedTreatmentRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedTreatmentRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AllergyHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
