@model IEnumerable<archpointMidtermPHR.Models.Immunizations>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImmunizationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdministeredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastTetanus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImmunizationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministeredBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastTetanus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImmunizationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImmunizationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImmunizationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
