@model IEnumerable<archpointMidtermPHR.Models.A1cTestRisk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateEntered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A1cTestResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A1cTargetRangeGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateEntered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A1cTestResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A1cTargetRangeGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.A1cTestRiskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.A1cTestRiskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.A1cTestRiskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
