@model archpointMidtermPHR.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientMi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientMi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatientLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BloodType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateProvince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmploymentInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmploymentInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmergencyContactInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LivingWill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivingWill)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoNotResuscitate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoNotResuscitate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganDonor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganDonor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
