@model IEnumerable<archpointMidtermPHR.Models.SmokingHistoryRisk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Smoker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeQuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChewingSmokelessTobacco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuittingGoal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Smoker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeStarted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeQuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChewingSmokelessTobacco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuittingGoal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SmokingHistRiskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SmokingHistRiskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SmokingHistRiskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
