@model IEnumerable<archpointMidtermPHR.Models.MensHealth>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLastAnnualPhysical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNextAnnualPhysical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyHistoryProstateCancer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastProstateExam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastProstateExamResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNextProstateExam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastPsa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPsaresults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PsaLevelTestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNextPsatest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastFecalOccultTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecalOccultResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNextFecalOccultTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLastSigmoidColonoscopyExam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SigmoidColonoscopyResults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNextSigmoidColonoscopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MensHealthIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastAnnualPhysical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNextAnnualPhysical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyHistoryProstateCancer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastProstateExam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastProstateExamResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNextProstateExam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastPsa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPsaresults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PsaLevelTestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNextPsatest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastFecalOccultTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecalOccultResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNextFecalOccultTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateLastSigmoidColonoscopyExam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SigmoidColonoscopyResults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNextSigmoidColonoscopy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MensHealthIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MensHealthHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MensHealthHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MensHealthHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
