@model archpointMidtermPHR.Models.TravelHealth

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TravelHealth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryVisited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryVisited)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateVisited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateVisited)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiseaseIllnessContracted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiseaseIllnessContracted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateContracted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateContracted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TravelHealthId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
