@model IEnumerable<archpointMidtermPHR.Models.TravelHealth>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiseaseIllnessContracted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateContracted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryVisited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiseaseIllnessContracted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateContracted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TravelHealthId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TravelHealthId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TravelHealthId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
