@model IEnumerable<archpointMidtermPHR.Models.InsurancePolicyHolder>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyHolderFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyHolderMidInit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyHolderLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealtionshipToPolicyHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyHolderSsn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyHolderFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyHolderMidInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyHolderLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealtionshipToPolicyHolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyHolderSsn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PolicyHolderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PolicyHolderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PolicyHolderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
