@model archpointMidtermPHR.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HowArchpointWasFound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HowArchpointWasFound)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EasyToUnderstand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EasyToUnderstand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuggestionsForImprovements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuggestionsForImprovements)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FeedbackId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
