@model archpointMidtermPHR.Models.ExerciseActivityRisk

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExerciseActivityRisk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnyExercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnyExercise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfExercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfExercise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrequencyOfExercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrequencyOfExercise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurationOfExercise)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DurationOfExercise)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IntensityLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IntensityLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DurationGoal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DurationGoal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExerciseRiskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
