@model IEnumerable<archpointMidtermPHR.Models.ExerciseActivityRisk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnyExercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfExercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrequencyOfExercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationOfExercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntensityLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationGoal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnyExercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfExercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrequencyOfExercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationOfExercise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntensityLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationGoal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExerciseRiskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExerciseRiskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExerciseRiskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
